table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-header {
    text-align: center;
    font-weight: bold;
    background-color: blue;
    color: white;
  }
  
  tr:hover {
    background-color: #add8e6;
    transition: 0.3s;
  }
  
  td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  